<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>Welcome to Express Pizza</h1>
    <h3>Specialty Pizzas</h3>
    <ul>
      {{#each specialtyPizzas}}
          <li><a href="/shop-details/{{this.id}}">{{this.name}}</a></li>
      {{/each}}
    </ul>
    <h3>Custom Pizza</h3>
    <a href="/customize">Build your own!</a>
    <h3>Leave a review</h3>
    <a href="/review">Click here to leave a review</a>
</body>
</html>