<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
  </head>
  <body>
    <h1>Welcome to Express Pizza</h1>
    <h3>Specialty Pizzas</h3>
    <ul>
      <li><a href="/specialty-pizza?price=17&name=Sush-iZa">Sushi-Za</a></li>
      <li><a href="/specialty-pizza?price=12&name=Burger-Za">Burger-Za</a></li>
      <li><a href="/specialty-pizza?price=14&name=Crab-Za">Crab-Za</a></li>
    </ul>
    <h3>Custom Pizza</h3>
    <a href="/customize">Build your own!</a>
    <h3>Leave a review</h3>
    <a href="/review">Click here to leave a review</a>
  </body>
</html>