<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Specialty Pizzas</title>
</head>
<body>
    <h3>Name: {{specialtyPizzas.name}}</h3>
    <h3>Toppings: {{specialtyPizzas.toppings}}</h3>
</body>
</html>